

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.container{
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #F7F7F7;
}

.topBar{
    position: absolute;
    width: 1440px;
    height: 91px;
    left: 0px;
    top: 0px;
    background: #CEC6CE;
}

.title{
    position: absolute;
    width: 161px;
    height: 34px;
    left: 28px;
    top: 124px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #5D405C;
    /* animation: flipTitle 1s; */
    
}

/* @keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
} */

.subTitle{
    position: absolute;
    width: 183px;
    height: 17px;
    left: 28px;
    top: 166px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #828282;
}


.buttonSearch{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1316px;
    top: 135px;
    background: #5D405C;
    border-radius: 10px;
    border: 0;
    
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F7F7F7;
    
    cursor: pointer;
    transition: transform 0.5;
}
.buttonSearch:hover{
    transform: scale(1.1);
}

.titleGraph{
    position: absolute;
    width: 55px;
    height: 20px;
    left: 23px;
    top: 21px;
    /* background-color: #6bccbc; */
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #5D405C;
    
}

.barGraph{
    position: absolute;
    width: 680px;
    height: 359px;
    left: 28px;
    top: 228px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scatterGraph{
    position: absolute;
    width: 680px;
    height: 359px;
    left: 736px;
    top: 228px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.info{
    position: absolute;
    left: 70px;
    right: 10.94%;
    top: 10.94%;
    bottom: 10.94%;
    background-color: rgba(255, 255, 255, 0);
    border: 0;

    cursor: pointer;
    transition: transform 0.5;
}
.info:hover{
    transform: scale(1.2);
}

