

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.container{
    position: relative;
    width: 1440px;
    height: 100vh;
    background: #eaf5f8;
}

.topBar{
    position: absolute;
    width: 1440px;
    height: 91px;
    left: 0px;
    top: 0px;
    background: linear-gradient(#4dddb9, #4dc7dd)
}

.title{
    position: absolute;
    width: 161px;
    height: 34px;
    left: 28px;
    top: 124px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;

    color: #091758;
    animation: flipTitle 1s; 
    
}


@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
}

.subTitle{
    position: absolute;
    width: 183px;
    height: 17px;
    left: 28px;
    top: 166px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #828282;
}


.buttonSearch{
    position: absolute;
    width: 100px;
    height: 40px;
    left: 1316px;
    top: 135px;
    background: #091758;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F7F7F7;
    
    cursor: pointer;
    transition: transform 0.5;
}
.buttonSearch:hover{
    transform: scale(1.1);
}

.main{
    position: relative;
}


